<%= stylesheet_link_tag "registration-forms", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <h2 class="confirmable-header">Resend confirmation instructions</h2>
<div class="form-sign-details">

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: 'form-label' %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-input', autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions", class: 'form-submit' %>
    </div>
  <% end %>

  <div class="confirmable-links">
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'form-link' %>
    <%= link_to "Log in", new_session_path(resource_name), class: 'form-link' %>
  </div>

</div>