<h1>New Order Notification</h1>

<p>Dear <%= @seller.username %>,</p>

<p>You have received a new order for the following item:</p>

<p>
  Product Name: <%= @product.name %><br>
  Quantity: <%= @order_item.quantity %>
</p>

<h2>Customer Details</h2>
<p>Customer Name: <%= @order.user.first_name %> <%= @order.user.last_name %></p>
<p>Customer Email: <%= @order.user.email %></p>

<h2>Shipping Address:</h2>
<p><%= @shipping_address.address_line1 %> <%= @shipping_address.address_line2 %></p>
<p><%= @shipping_address.city %>, <%= @shipping_address.state %></p>
<p><%= @shipping_address.postal_code %></p>

<p>Thank you for using our platform!</p>