<%= stylesheet_link_tag "blog_show", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "blog", "data-turbo-track": "reload" %>
<%= javascript_include_tag 'reply_form_toggle' %>
<%= javascript_include_tag 'replies' %>



<div class="blog-show-container">
  <h1 class="blog-title"><%= @blog_post.title %></h1>
  
  <p class="blog-meta">
    <strong>By:</strong> <%= @blog_post.author %> | 
    <strong>Date:</strong> <%= @blog_post.published_date.strftime('%B %d, %Y') %>
  </p>
  
  <% if @blog_post.cover_image.attached? %>
    <div class="cover-image">
      <%= image_tag @blog_post.cover_image, class: "cover-image-element" %>
    </div>
  <% end %>
  
  <div class="blog-content">
    <%= simple_format(@blog_post.content) %>
  </div>
  
  <% if @blog_post.content_images.attached? %>
    <h3 class="additional-images-title">Additional Images</h3>
    <div class="content-images">
      <% @blog_post.content_images.each do |image| %>
        <div class="content-image">
          <%= image_tag image, class: "content-image-element" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <h4>Add a Comment</h4>
  <%= form_with model: [@blog_post, Comment.new], local: true do |form| %>
    <div>
      <%= form.label :content, "Your Comment" %>
      <%= form.text_area :content, required: true, class: "comment-control" %>
    </div>
    <%= form.submit "Post Comment", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <p class="comment-link">
    <%= link_to new_user_session_path, class: "styled-link" do %>
      <i class="fa fa-comment" aria-hidden="true"></i> Leave a Comment
    <% end %>
  </p>
<% end %>


<div class="comments-section">
  <h3>Comments (<%= @blog_post.comments.count %>)</h3>
  <% @blog_post.comments.where(parent_comment_id: nil).each do |comment| %>
    <div class="comment">
      <p><strong><%= comment.user_name %>:</strong></p>
      <p><%= comment.content %></p>
      <div class="comment-actions">
        <% if user_signed_in? %>
          <% if current_user.comment_likes.exists?(comment: comment) %>
            <button class="unlike-comment-button" data-comment-id="<%= comment.id %>" data-blog-post-id="<%= @blog_post.id %>"><i class="fas fa-heart"></i></button>
          <% else %>
            <button class="like-comment-button" data-comment-id="<%= comment.id %>" data-blog-post-id="<%= @blog_post.id %>"><i class="far fa-heart"></i></button>
          <% end %>
        <% end %>
        <span class="likes-count"> <%= comment.likes_count %></span>
        <button class="reply-button" data-comment-id="<%= comment.id %>" data-blog-post-id="<%= @blog_post.id %>">Reply</button>
      
      <div id="reply-form-<%= comment.id %>" class="reply-form" style="display: none;">
        <%= form_with(url: blog_post_comment_replies_path(@blog_post, comment), method: :post, local: true) do |form| %>
          <%= form.hidden_field :comment_id, value: comment.id %>
          <%= form.hidden_field :blog_post_id, value: @blog_post.id %>
          <%= form.text_area :reply_content, placeholder: "Write your reply..." %>
          <%= form.submit "Submit Reply" %>
        <% end %>
        </div>
      </div>
      <div class="replies">
        <% comment.replies.each do |reply| %>
          <div class="reply">
            <p><strong><%= reply.user_name %>:</strong></p>
            <p><%= reply.content %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

