<%= stylesheet_link_tag 'my_listings', media: 'all' %>

<h1 class="listings-header">My Listings</h1>

<div class="search-container">
  <%= form_with url: my_listings_products_path, method: :get, local: true, class: "search-form" do |form| %>
    <%= form.text_field :query, placeholder: "Search your listings...", value: params[:query], class: "search-input" %>
    <button type="submit" class="search-icon-btn">
      <i class="fas fa-search"></i>
    </button>
  <% end %>
</div>


<% if @products.any? %>
  <div class="listings-grid">
    <% @products.each do |product| %>
      <div class="listing-card">
        <% if product.image.attached? %>
          <%= image_tag product.image, class: "card-img", alt: product.name %>
        <% else %>
          <%= image_tag "placeholder.jpg", class: "card-img", alt: "Placeholder" %>
        <% end %>
        <div class="card-content">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-price"><%= product.price.present? ? number_to_currency(product.price) : "Barter" %></p>
          <div class="card-actions">
            <%= link_to "Edit", edit_product_path(product), class: "btn btn-theme", data: { turbo: false } %>
            <% if product.listing_status %>
                  <%= button_to "Delist", delist_product_path(product), method: :patch, data: { confirm: "Are you sure you want to delist this product?" }, class: "btn btn-danger", params: { product: { listing_status: false } } %>
            <% else %>
              <%= button_to "Re-List", relist_product_path(product), method: :patch, class: "btn btn-success", data: { confirm: "Are you sure you want to delist this product?" }, class: "btn btn-warning", params: { product: { listing_status: true } } %>
            <% end %>          
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="text-center">
    <p>You have no listings yet.</p>
    <%= link_to "Create a new listing", new_product_path, class: "btn btn-success" %>
  </div>
<% end %>
